extends ../layout

block content
  h1 Listing form submitted
  ul
    each val in listings
      div(id=val.id)
        p= val.title
        p= val.description
        p= val.price
        p= val.location

    br
