extends ../layout

block content

  div(class='viewListing')
    h2= showlisting.name
    div(id='listing-title')=showlisting.title
    div(id='listing-description')=showlisting.description
    div(id='listing-location')=showlisting.location
    div(id='listing-price')='£' + showlisting.price + ' per night'

    button(onclick="request()") Request to book
    script.
      function request() {
        window.location.href = '/requests'
      };
